.footer {
  background-color: #000;
  color: #fff;
  padding-block: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  position: static;
  .footer-section {
    p {
      opacity: 0.7;
      margin-bottom: 8px;
    }
    p.title {
      opacity: 1;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }
}
